
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.main {
    background-color: #222;
    overflow-x: hidden;
}

#page1 {
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #C4BCB3;
    position: relative;
    overflow: hidden;
}

#nav {
    height: 110px;
    width: 100%;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

#nav img {
    height: 29px;
    width: 30%;
}

#nav h5 {
    font-size: 20px;
    font-weight: 100;
    width: 30%;
    
}
#nav i{
    width: 30%;
    text-align: right;
}
#elems{
    
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}
.elesm1{
    width: 30%;
    height: 100%;
    
    
}
.elesm2{
    width: 30%;
    height: 100%;
    border-right: 1px solid #716D66;
    border-left: 1px solid #716D66;
    padding: 0px 50px;
    text-align: center;
    
}
.elesm3{
    width: 30%;
    height: 100%;
   
}
.elesm1 #image-div{
    width: 100%;
    height: 40%;
    overflow: hidden;
}
#image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}
.elesm3 #image-div{
    width: 100%;
    height: 40%;
    overflow: hidden;
}
#image-div:hover img{
    scale: 1.1;
}

.elesm1 h4{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: canopee;
}

.elesm1 h4 span{
    background-color: #B83C12;
    color: #C5BDB3;
    font-size: 18px;
    font-weight: 100;
    padding: 3px 4px;
    border-radius: 5px;
    margin-left: 5px;

}

.elesm3 h4{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: canopee;
}
.elesm3 h4 span{
    background-color: #B83C12;
    color: #C5BDB3;
    font-size: 15px;
    font-weight: 100;
    padding: 3px 4px;
    border-radius: 5px;
    
}

.elesm1 p{
    font-size: 18px;
    font-family: editorial new;
    font-weight: 100;
    color: #1C1B19;
}
.elesm3 p{
    font-size: 17px;
    font-family: editorial new;
    font-weight: 100;
    color: #1C1B19;
    width: 100%;
    margin: 0;
    padding: 0;
}

.elesm2 h2{
    font-size: 70px;
   margin: 13px 0;
    font-family: canopee;
    font-weight: 100;
}

.elesm2 h3{
    font-size: 33px;
   margin-bottom: 25px;
    font-family: editorial new;
    font-weight: 100;
}
.elesm2 h5{
    font-size: 18px;
   
    font-family: editorial new;
    font-weight: 100;
}
.elesm2 h5 span{
    font-size: 20px;
   
    font-family: canopee;
    font-weight: 100;
}

#page1 h1{
    font-size: 530px;
    font-family: canopee;
    font-weight: 100;
    background-color: #1C1C1A;
    color: #C3BCB2;
    line-height: 450px;
    margin: 0 30px ;
    padding-right: 30px;
    text-align: center;
    letter-spacing: -25px;
}

#page2{
    height: 150vh;
    width: 100%;
    background-color: #C4BCB2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 30px;
}

#page2-left{
    height: 100%;
    width: 35%;
    padding-right: 40px;
    border-right: 1px solid #726D66;
}

#page2-left h2{
    font-size: 110px;
    font-family: canopee;
    line-height: 130px;
    font-weight: 100;
   
}

#page2-left h2 span{
    font-size: 200px;
    font-weight: 500;

}
#page2-left img{
    height: 45%;
    width: 100%;
    object-fit: cover;
    border: 1px solid #1C1C1A;
}
#page2-left p span{
    background-color: #1C1B19;
    color: #C1B9B0;
    font-family: canopee;
    font-size: 110px;
    line-height: 1;
    float: left;
    margin: 0 15px;
    text-align: center;
}
#page2-left p{
    margin-top: 20px;
    font-size: 25px;
    font-family: editorial new;
    line-height: 1.5;
    position: relative;
    font-weight: 100;
}

#page2-right{
    height: 100%;
    width: 60%;

    padding-right: 10px;
}
#page2-right img{
    height: 45%;
    object-fit: cover;
    width: 100%;
    margin-top: 30px;
    border: 1px solid #1C1C1A;
}

#page2-right h1{
    margin-top: 30px;
    font-size: 120px;
    font-family: canopee;
    font-weight: 500;
    text-align: left;
    color: #1C1C1A;
    letter-spacing: -5px;
}

#page3{
    height: 50vh;
    position: relative;
    background-color: #C3BBB2;
}
#page3 h1{
    font-size: 415px;
    width: 73%;
   
    font-family: canopee;
    background-color: #1C1C19;
    color: #C6BEB5;
    font-weight: 100;
    letter-spacing: -15px;
    margin-left: 2%;
    padding: 0 20px;
    line-height: 380px;
}
#page3 img{
    position: absolute;
    height: 380px;
    top: 0;
    right: 30px;
    width: 20%;
    
}
#page4 {
    height: 120vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: #C4BCB3;
    padding-top: 20px;
}

#page4-left {
    width: 65%;
    height: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #1C1C1A;
}
#page4-left .left4{
     height: 30%;
     width: 100%;
     display: flex;
     align-items: center;
     margin-bottom: 20px;
     justify-content: space-between;
}


.left4-left{
    width: 45%;
    height: 100%;
    /* padding: 0px 50px; */
    text-align: left;
    border-right: 1px solid #1b1b1b;
}
.left4-left h1{
    font-size: 65px;
    font-family: canopee;
    font-weight: 400;
    padding-bottom: 10px;
    letter-spacing: -3px;
}

.left4-left h3{
    font-size: 33px;
   margin-bottom: 25px;
    font-family: editorial new;
    font-weight: 100;
}
.left4-left h5{
    font-size: 18px;
   
    font-family: editorial new;
    font-weight: 100;
}
.left4-left h5 span{
    font-size: 20px;
   
    font-family: canopee;
    font-weight: 100;
}

.left4-right{
    width: 55%;
    height: 100%;
    margin: 0 30px;
}

.left4-right h4{
    font-size: 25px;
    margin-bottom: 10px;
    font-family: canopee;
    margin-top: 0;
    padding: 0;
}

.left4-right #image-div{
    width: 100%;
    height: 60%;
    overflow: hidden;
    margin-right: 40px;
    margin-bottom: 0;
    padding: 0;
}

.left4-right p{
    font-size: 18px;
    font-family: editorial new;
    font-weight: 100;
    color: #1C1B19;
    margin-top: 0;
}
#image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}
#image-div:hover img{
    scale: 1.1;
}
#page4-left img {
    height: 70%;
    width: 100%;
    object-fit: cover;
}

#page4-right {
    width: 35%;
    height: 100%;
    padding: 0 60px;
    line-height: 0.9;
}
#page4-right h2{
    font-size: 180px;
    font-family: canopee;
    font-weight: 100;
    color: #1C1C1A;
}
#page4-right h4{
    font-size: 90px;
    font-family: canopee;
    font-weight: 100;
    color: #1C1C1A;
}
#page4-right p {
    font-size: 26px;
    font-family: editorial new;
    font-weight: 100;
    color: #1C1C1A;
    margin-bottom: 40px;
    line-height: 30px;
}
#page4-right p span{
    background-color: #1C1B19;
    color: #C1B9B0;
    font-family: canopee;
    font-size: 110px;
    line-height: 1;
    float: left;
    margin: 0 15px;
    text-align: center;
}
#page4-right #anda {
    height: 250px;
    background-color: #CAC1B6;
    border: 1px solid #2f2f2fc6;
    border-radius: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
}

#anda h1 {
    font-size: 100px;
    font-weight: 100;
    font-family: canopee;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-26%);
    transition: all ease 0.6s;
}

#anda img {
    height: 60px;
    transition: all ease 0.6s;

    transform: translateX(-120%);
}

#anda:hover img {
    transform: translateX(76%);

}

#anda:hover h1 {
    transform: translateX(100%);

}

#page5 {
    padding: 25px 0;
    width: 100%;
    background-color: #C4BCB3;
    border-top: 1px solid #2f2f2f;
    border-bottom: 1px solid #2f2f2f;

    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#page5::-webkit-scrollbar {
    display: none;
}

#page5 h1 {
    font-size: 100px;
    font-family: editorail new;
    font-weight: 100;
    display: inline-block;
    /* background-color: red; */
    animation-timing-function: linear;
    margin-right: 30px;
    animation-name: scroll;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#page5 h1 span {
    font-family: canopee;
    background-color: #1b1b1b;
    color: #C4BCB3;
    padding: 0 12px;
}

#page6 {
    height: 100px;
    width: 100%;
    background-color: #C4BCB3;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - 34px));
    }
}

#page5:hover h1{
    animation-play-state: paused;
}
